<% include partials/header %>
<h1>Add Customer</h1>
<% if(errors){ %>
  <% errors.forEach(function(error){ %>
    <li><%=error.msg %></li>
  <% }) %>
<% } %>
<form method="POST" action="/users/add">
  <label>First Name  </label><br>
  <input type="text" name="first_name">
  <br>
  <label>Last Name</label><br>
  <input type="text" name="last_name">
  <br>
  <label>Email</label><br>
  <input type="email" name="email">
  <br><br>
  <input type="submit" value="Submit">
</form>
  <h1>Hello from EJS</h1>
  <h2><%= title %></h2>
  <ul>
  <% users.forEach(function(user){ %>
    <li><%=user.first_name %> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a></li>
  <% }) %>
</ul>
<% include partials/footer %>
